.todo-input {
    outline: none;
    background: none;
    border: 1px solid #415A77;
    border-right: none;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 15px 0 0 15px;
    width: 300px;

    color: #fff;
}
  
.todo-input::placeholder{
    color: #ffffff4d;
}
  
.submit-btn {
    background: #0D1B2A;
    color: #fff;
    border-top: 1px solid #415A77;
    border-right: 1px solid #415A77;
    border-bottom: 1px solid #415A77;
    border-left: none;
    border-radius: 0 15px 15px 0;
    padding: 0.55rem;
    cursor: pointer;
}