@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0D1B2A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  display: flex;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  justify-content: center;
}

.TodoWrapper {
  background: #1b263b;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 25px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
  
}

.Counter {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.Counter p{
  color: #fff;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.todo-input, .todo-edit-input {
  outline: none;
  background: none;
  border: 1px solid #415A77;
  border-right: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 15px 0 0 15px;
  width: 300px;
  height: 39px;
  color: #fff;
}

.todo-input::placeholder, .todo-edit-input::placeholder{
  color: #ffffff4d;
}

.todo-btn, .todo-edit-btn, .submit-btn {
  background: #0D1B2A;
  color: #fff;
  border-top: 1px solid #415A77;
  border-right: 1px solid #415A77;
  border-bottom: 1px solid #415A77;
  border-left: none;
  border-radius: 0 15px 15px 0;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0D1B2A;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 